<ion-content>
  <div class="img-toolbat ">
    <img src="assets/img/foto.jpg" alt="">
    <div class="btn-start">
      <ion-toolbar>
        <ion-buttons>
          <ion-menu-button autoHide="false" name="settings"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-margin-start">
        <h5> <i> Su cuenta ha sido desabilitada, por favor pongase en contacto con un administrador </i> </h5>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>