<ion-content>
    <ion-grid class="ion-no-padding">
        <div class="contenedor">
            <img src="assets/img/foto.jpg" alt="">
            <div class="btn-back">
                <ion-buttons slot="start">
                    <ion-back-button defaultHref='/login' text=""></ion-back-button>
                </ion-buttons>
            </div>
        </div>
        <ion-row>
            <ion-col class="ion-text-center">
                <h1>Recuperar su contraseña</h1>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col size="10">
                <ion-text class="ion-text-center">
                    <i style="font-size: 12px;">Ingrese su correo electrónico para recuperar la contraseña:</i>
                </ion-text>

                <form class="box" [formGroup]="frmResetPass">
                    <input class="input" type="text" formControlName="email" placeholder="Ingrese su correo">
                </form>

                <div class="container-form-btn">
                    <button class="form-btn custom-font" (click)="resetPass()">Enviar</button>
                </div>

            </ion-col>
            <ion-col sizw="1"></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>