<ion-header>
    <ion-toolbar>
        <ion-title>modal</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="user.tipo == rol.ADMIN;">
        <ion-text>Por favor seleccione el Edificio que desea Administrar</ion-text>
        <form [formGroup]="frmModal">
            <ion-item>
                <ion-label position="floating">Edificio</ion-label>
                <ion-select formControlName="modal" [value]="edificioAdmin">
                    <ion-select-option *ngIf="edificioAdmin" [value]="edificioAdmin">{{edificioAdmin.name}}
                    </ion-select-option>
                    <div *ngFor="let item of edificios">
                        <ion-select-option *ngIf="!edificioAdmin" [value]="item"> {{item.name}} </ion-select-option>
                        <ion-select-option *ngIf=" edificioAdmin && edificioAdmin.name != item.name" [value]="item">
                            {{item.name}} </ion-select-option>
                    </div>
                </ion-select>
            </ion-item>

            <div *ngIf="valid">
                <h4>seleccione una opcion</h4>
            </div>
        </form>
        <ion-button (click)="buildingOrApartamentsData()">Enviar</ion-button>
    </div>

    <div *ngIf="user.tipo == rol.USER">
        <ion-text>Por favor seleccione el Apartamento que desea Administrar</ion-text>
        <form [formGroup]="frmModal">
            <ion-item>
                <ion-label position="floating">Apartamento</ion-label>
                <ion-select formControlName="modal">
                    <ion-select-option *ngFor="let item of apartamento" [value]="item">{{item.name}} </ion-select-option>
                </ion-select>
            </ion-item>
            <div *ngIf="valid">
                <h4>seleccione una opcion</h4>
            </div>
        </form>
        <ion-button (click)="buildingOrApartamentsData()">Enviar</ion-button>
    </div>
</ion-content>