<ion-content>
    <div class="container-primary"></div>
    <div class="header-content">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/mudanza' text=""></ion-back-button>
        </ion-buttons>
        <ion-label>
            <h1>Edificio</h1>
        </ion-label>
        <ion-toolbar>
            <ion-buttons>
                <ion-menu-button autoHide="false" name="settings"></ion-menu-button>
            </ion-buttons>
        </ion-toolbar>
    </div>
    <div class="container-secundary">
        <div class="container-group">
            <div class="container-item">
                <ion-text>Apartementos disponibles de edificio : {{edificio.name}} </ion-text>
                <form [formGroup]="frmMoving">
                    <ion-item>
                        <ion-label>Apartamentos</ion-label>
                        <ion-select formControlName="apartaments">
                            <ion-select-option *ngFor="let item of apartamentosDisponible" [value]="item">
                                {{item.name }}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <div class="container-form-btn">
                        <button (click)="changeBuilding()" class="form-btn custom-font">Enviar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</ion-content>