<ion-content>
    <div class="container">
        <img src="assets/img/foto.jpg" alt="">
        <div class="btn-back">
            <ion-buttons slot="start">
                <ion-back-button defaultHref='/login' text=""></ion-back-button>
            </ion-buttons>
        </div>
    </div>
    <ion-row>
        <ion-col class="ion-text-center">
            <h1>Registrar usuario</h1>
        </ion-col>
    </ion-row>
    <ion-grid class="ion-no-padding">
        <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col size="10">
                <form [formGroup]="frmRegister" (ngSubmit)="registerUser()">

                    <div class="inputWithIcon">
                        <ion-input type="text" formControlName="name" placeholder="Nombre">
                            <ion-icon name="person-outline"></ion-icon>
                        </ion-input>
                        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="validation-errors">
                            <div *ngIf="name.errors.required">
                                por favor digite su nombre
                            </div>
                            <div *ngIf="name.errors.minlength">
                                El nombre debe tener al menos 3 caracteres.
                            </div>
                        </div>
                    </div>

                    <div class="inputWithIcon">
                        <ion-input inputmode="email" formControlName="email" placeholder="Correo electrónico">
                            <ion-icon name="mail-outline"></ion-icon>
                        </ion-input>
                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="validation-errors">
                            <div *ngIf="email.errors.required">
                                por favor digite su correo
                            </div>
                            <div *ngIf="email.errors.pattern">
                                Correo invalido
                            </div>
                        </div>
                    </div>

                    <div class="inputWithIcon">
                        <ion-input type="number" formControlName="CC" placeholder="Cedula">
                            <ion-icon name="finger-print-outline"></ion-icon>
                        </ion-input>
                        <div *ngIf="CC.invalid && (name.dirty || CC.touched)" class="validation-errors">
                            <div *ngIf="CC.errors.required">
                                por favor digite su cedula
                            </div>
                            <div *ngIf="CC.errors.minlength">
                                El cedula debe tener al menos 6 caracteres.
                            </div>
                        </div>
                    </div>

                    <div class="inputWithIcon">
                        <ion-input type="text" formControlName="user" placeholder="Usuario">
                            <ion-icon name="person-circle-outline"></ion-icon>
                        </ion-input>
                        <div *ngIf="user.invalid && (user.dirty || user.touched)" class="validation-errors">
                            <div *ngIf="user.errors.required">
                                por favor digite su usuario
                            </div>
                            <div *ngIf="user.errors.minlength">
                                El usuario debe tener al menos 3 caracteres.
                            </div>
                        </div>
                    </div>

                    <div class="inputWithIcon">
                        <ion-input type="password" formControlName="password" placeholder="Contraseña">
                            <ion-icon name="key-outline"></ion-icon>
                        </ion-input>
                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="validation-errors">
                            <div *ngIf="password.errors.required">
                                por favor digite su contraseña
                            </div>
                            <div *ngIf="password.errors.minlength">
                                la contraseña debe tener al menos 8 caracteres.
                            </div>
                        </div>
                    </div>

                    <div class="inputWithIcon">
                        <ion-input type="password" formControlName="passConfirmation" placeholder="Confirmacióm">
                            <ion-icon name="key-outline"></ion-icon>
                        </ion-input>
                        <div class="validation-errors" *ngIf="validateEqual()">
                            Las contraseñas no coinciden
                        </div>
                    </div>

                    <div class="inputWithIcon">
                        <ion-input type="number" formControlName="tel" placeholder="Teléfono">
                            <ion-icon name="call-outline"></ion-icon>
                        </ion-input>
                        <div *ngIf="tel.invalid && (tel.dirty || tel.touched)" class="validation-errors">
                            <div *ngIf="tel.errors.required">
                                por favor digite su telefono
                            </div>
                            <div *ngIf="tel.errors.minlength">
                                El telefono debe tener al menos 10 caracteres.
                            </div>
                        </div>
                    </div>
                    <div class="container-form-btn">
                        <button class="form-btn custom-font" type="submit">Registrar</button>
                    </div>
                </form>

            </ion-col>
            <ion-col size="1"></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>