<ion-content>
    <div class="container-primary"></div>

    <div class="header-content">
        <ion-label>
            <h1>Usuario: {{dato.name}} </h1>

        </ion-label>




        <ion-toolbar>
            <ion-buttons>
                <ion-menu-button autoHide="false" name="settings"></ion-menu-button>
            </ion-buttons>
        </ion-toolbar>
    </div>
    <div class="container-secundary">
        <div class="container-group">
            <div class="container-item">

                <form>
                    <input type="text" value="{{dato.name}} ">
                </form>
            </div>
        </div>
    </div>

</ion-content>