.img-toolbat>img {
    width: 100%;
    height: 200px;
    border-bottom-left-radius: 40em 60px;
    border-bottom-right-radius: 30em 60px;
    box-shadow: 2px 2px 5px rgb(163, 162, 162);
}

.btn-start {
    position: absolute;
    top: 15px;
    right: 15px;
    ion-menu-button {
        color: white;
        font-size: 40px;
    }
    ion-toolbar {
        --background: none;
    }
}

.ion-padding {
    background-color: rgb(91, 50, 97) !important;
}

ion-calendar {
    display: contents !important;
    background-color: rgb(91, 50, 97) !important;
    .transparent {
        color: white !important;
    }
    ion-button {
        color: white !important;
    }
    .on-selected {
        background-color: rgba(0, 0, 0, 0.281) !important;
        p {
            color: black !important;
        }
    }
    .month-packer-item {
        button {
            color: white !important;
        }
    }
    .today {
        p {
            color: rgb(255, 255, 255) !important;
        }
    }
    .last-month-day {
        p {
            position: absolute;
            top: -9999px;
        }
    }
    .next-month-day {
        p {
            color: rgb(39, 39, 39) !important;
        }
    }
    .days-btn:not(.today, .next-month-day, .last-month-day) {
        p {
            color: rgba(255, 255, 255, 0.733) !important;
        }
    }
    .days-btn:disabled {
        p {
            color: rgb(39, 39, 39) !important;
        }
    }
}